@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    width: 100%;
    font-family: "Montserrat";
    font-size: 1rem;
    background-color: white;
    color: black;
}

span {
    font-weight: bold;
}

.landing-container {
    width: 375px;
    height: 80vh;
    background-image: url(./assets/bilder/header.png.png);
    background-size: 110%;
    background-position: center;
    background-repeat: no-repeat;
    border: 2px solid black;
    display: flex;
    justify-content: center;
}

.landingbox {
    margin-top: 2rem;
}

.footer-container {
    width: 375px;
    height: 235px;
    background-color: #292929;
    color: white;
    border: 2px solid black;
}





/* .header-container {
    height: 60vh;
    background-image: url(./assets/bilder/header.png.png);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    border: 2px solid blue;
}

.headerbox {
    margin-top: 1rem;
    border: 2px solid black;
}

.box1, .box2 {
    align-self: flex-end;
}

.header {
    position: relative;
}

.introbox {
    position: relative;
    border: 2px solid red;
} */







/* .info-container {
    display: flex;
    justify-content: flex-end;
    border: 2px solid black;
}
.youtubability-container {
    display: flex;
    border: 2px solid black;
}

.youtubability {
    width: 50%;
    border: 2px solid black;
} */
